UnityIntegration/iosBuild/
UnityIntegration/Library


AssetsImported/NUSpirit/Library/
AssetsImported/NUSpirit/iosBuild/
AssetsImported/NUSpirit 2/Library/
AssetsImported/NUSpirit 2/iosBuild/
AssetsImported/NUSpirit/Assets/Editor Default Resources
AssetsImported/NUSpirit/Assets/Firebase
AssetsImported/NUSpirit 2/Assets/Editor Default Resources
AssetsImported/NUSpirit 2/Assets/Firebase
Frontend/Orbital.xcworkspace/xcuserdata/emma.xcuserdatad/UserInterfaceState.xcuserstate

UnityIntegrationSpecific/Assets/Editor Default Resources/
UnityIntegrationSpecific/Assets/Firebase/
UnityIntegrationSpecific/Library/