<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037292088990-9d2c95hqakf9174ag9bjvdhmh3okhbq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037292088990-9d2c95hqakf9174ag9bjvdhmh3okhbq7</string>
	<key>API_KEY</key>
	<string>AIzaSyD4dmP3SG2y5fBuko7BAPWBVw2xgH6sdJE</string>
	<key>GCM_SENDER_ID</key>
	<string>1037292088990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unity3d.framework</string>
	<key>PROJECT_ID</key>
	<string>orbital2024-9f1b1</string>
	<key>STORAGE_BUCKET</key>
	<string>orbital2024-9f1b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037292088990:ios:01127b1207e3cbe058558f</string>
	<key>DATABASE_URL</key>
	<string>https://orbital2024-9f1b1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
